<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
</head>

<body>
    <h1>Categorias</h1>
    <section>
        {% for item in categorias %}
        <ul>
            <li>
                <a href="{% url 'mostrar_categoria' id_categoria=item.id %}">{{item.nome}}</a>
            </li>
        </ul>
        {% endfor %}
    </section>
    <section>
        <button type="button"><a href="{% url 'nova_categoria' %}" style="text-decoration: none; color: black;">Nova Categoria</a></button>
        <button type="button"><a href="{% url 'home' %}" style="text-decoration: none; color: black;">Página Inicial</a></button>
    </section>
</body>

</html>