{% extends 'base.html' %}

{% block nav %}
{% endblock %}

{% block title %}
    Página Inicial
{% endblock %}

{% block header %}
    <header class="masthead"
        style="background-image: url('assets/img/home-bg.jpg'); padding-top: calc(4rem + 40px); padding-bottom: 4rem;">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>DuVini</h1>
                        <span class="subheading">Receitas para toda hora!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h2 style="color: rgb(90, 90, 90);">O que deseja acessar?</h2>
    <section>
        <button style="width: 120px; height: 50px"><a href="{% url 'receitas' %}">Receitas</a></button>
        <button style="width: 120px; height: 50px"><a href="{% url 'categorias' %}">Categorias</a></button>
    </section>
{% endblock %}