{% extends 'base.html' %}

{% block title %}
Minhas receitas
{% endblock %}

{% block content %}
    <h1>Receitas</h1>
    {% if messages %}
    {% for message in messages %}
    <p style="color: darkgreen;">{{message}}</p>
    {% endfor %}
    {% endif %}
    <section style="padding-bottom: 15px;">
        <a href="{% url 'nova_receita' %}" class ="btn btn-secondary"">Nova Receita</a>
        <a href="{% url 'home' %}" class ="btn btn-secondary"">Página Inicial</a>
    </section>
    <section>
        {% for item in receitas %}
        <ul>
            <li>
                <a href="{% url 'detalhes_receita' id_receita=item.id %}">{{item.titulo}}</a>
            </li>
        </ul>
        {% endfor %}
    </section>
{% endblock %}